" vundle
Bundle 'gmarik/vundle'

" themes
Bundle 'jpo/vim-railscasts-theme'
Bundle 'altercation/vim-colors-solarized'

" navigation
Bundle 'scrooloose/nerdtree'
Bundle 'vim-scripts/ctags.vim'
Bundle 'vim-scripts/taglist.vim'
Bundle 'mileszs/ack.vim'
Bundle 'kien/ctrlp.vim'
Bundle 'tpope/vim-bundler'

" coding
Bundle 'kana/vim-textobj-user'
Bundle 'nelstrom/vim-textobj-rubyblock'
Bundle 'bronson/vim-ruby-block-conv'
Bundle 'tpope/vim-endwise'
Bundle 'tpope/vim-surround'
Bundle 'scrooloose/nerdcommenter'
Bundle 'scrooloose/syntastic'
Bundle 'vim-scripts/L9'
Bundle 'ecomba/vim-ruby-refactoring'
Bundle 'edsono/vim-matchit'
Bundle 'Townk/vim-autoclose'
Bundle 'tpope/vim-unimpaired'
Bundle 'tpope/vim-rvm'

" languages
Bundle 'tsaleh/vim-shoulda'
Bundle 'tpope/vim-cucumber'
Bundle 'tpope/vim-haml'
Bundle 'bbommarito/vim-slim'
Bundle 'vim-scripts/python.vim--Vasiliev'
Bundle 'pangloss/vim-javascript'
Bundle 'kchmck/vim-coffee-script'
Bundle 'digitaltoad/vim-jade'
Bundle 'timcharper/textile.vim'
Bundle 'tpope/vim-markdown'

" snipmate dependencies
Bundle 'tomtom/tlib_vim'
Bundle 'MarcWeber/vim-addon-mw-utils'

" snipmate
Bundle 'garbas/vim-snipmate'

" git wrapper
Bundle 'tpope/vim-fugitive'

" yagni?
"Bundle 'motemen/git-vim'
"Bundle 'gerardc/vim-padrino'
"Bundle 'vim-scripts/AutoClose'
